In [133]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [92]:
emotion_df = pd.read_csv("C:/Users/moham/Artificial inteligence Project/Emotion_violance_and_hates_data/Emotion_speech.csv")

In [93]:
emotion_df.head()

   Unnamed: 0                                               text  label
0           0      i just feel really helpless and heavy hearted      4
1           1  ive enjoyed being able to slouch about relax a...      0
2           2  i gave up my internship with the dmrg and am f...      4
3           3                         i dont know i feel so lost      0
4           4  i am a kindergarten teacher and i am thoroughl...      4

In [94]:
violance_df = pd.read_csv("C:/Users/moham/Artificial inteligence Project/Emotion_violance_and_hates_data/Violance_Speech.csv")

In [95]:
violance_df.head()

,Tweet_ID,tweet,type
0,ID_0022DWKP,Had a dream i got raped last night. By a guy i...,sexual_violence
1,ID_00395QYM,he thought the word raped means sex and told m...,sexual_violence
2,ID_003EOSSF,She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...,sexual_violence
3,ID_004BBHOD,I was sexually abused for 3 years at age 4 to ...,sexual_violence
4,ID_004F7516,Chessy Prout can do better by telling the trut...,sexual_violence

In [96]:
hate_df = pd.read_csv("C:/Users/moham/Artificial inteligence Project/Emotion_violance_and_hates_data/Hate_Speech.csv")

In [97]:
hate_df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

Data Preprocessing

In [98]:
emotion_df.drop(columns=["Unnamed: 0"], inplace=True)

In [99]:
violance_df.drop(columns=["Tweet_ID"], inplace=True)

In [100]:
hate_df = hate_df[["class", "tweet"]]

In [101]:
emotion_df.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [102]:
violance_df.head()

                                               tweet             type
0  Had a dream i got raped last night. By a guy i...  sexual_violence
1  he thought the word raped means sex and told m...  sexual_violence
2  She NOT TALKING TO ME I WAS RAPED BY 2 MEN 1 M...  sexual_violence
3  I was sexually abused for 3 years at age 4 to ...  sexual_violence
4  Chessy Prout can do better by telling the trut...  sexual_violence

In [103]:
hate_df.head()

   class                                              tweet
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [104]:
emotion_df.columns, violance_df.columns, hate_df.columns

(Index(['text', 'label'], dtype='object'),
 Index(['tweet', 'type'], dtype='object'),
 Index(['class', 'tweet'], dtype='object'))

In [105]:
#Renameing columns 
violance_df.rename(columns={'tweet': 'text', 'type': 'label'}, inplace=True)
hate_df.rename(columns={'class': 'label', 'tweet': 'text'}, inplace=True)

In [106]:
emotion_df.columns, violance_df.columns, hate_df.columns

(Index(['text', 'label'], dtype='object'),
 Index(['text', 'label'], dtype='object'),
 Index(['label', 'text'], dtype='object'))

In [107]:
#Null value check
emotion_df.isna().sum(), violance_df.isna().sum(), hate_df.isna().sum()

(text     0
 label    0
 dtype: int64,
 text     0
 label    0
 dtype: int64,
 label    0
 text     0
 dtype: int64)

In [108]:
emotion_df.shape, hate_df.shape, violance_df.shape

((416809, 2), (24783, 2), (39650, 2))

In [109]:
#Taking 12k rows from each data set 
emotion_df['label'].value_counts()

label
1    141067
0    121187
3     57317
4     47712
2     34554
5     14972
Name: count, dtype: int64

In [110]:
e_df = pd.DataFrame()
for i in range(6): 
    subset = emotion_df[emotion_df["label"] == i].sample(n=2000, random_state=42)
    e_df = pd.concat([e_df, subset])

In [111]:
e_df.shape

(12000, 2)

In [112]:
emotion_df = e_df.copy()

In [113]:
emotion_df['label'].value_counts()

label
0    2000
1    2000
2    2000
3    2000
4    2000
5    2000
Name: count, dtype: int64

In [114]:
violance_df['label'].value_counts()

label
sexual_violence                 32648
Physical_violence                5946
emotional_violence                651
economic_violence                 217
Harmful_Traditional_practice      188
Name: count, dtype: int64

In [115]:
#we just want 4998 rows from the sexual_violance label 
sexula_violance = violance_df[violance_df['label'] == 'sexual_violence'].sample(n=4998, random_state=42)
violance_df = violance_df[violance_df['label'] != 'sexual_violence']

In [116]:
violance_df.shape

(7002, 2)

In [117]:
violance_df = pd.concat([sexula_violance, violance_df] )

In [118]:
violance_df['label'].value_counts()

label
Physical_violence               5946
sexual_violence                 4998
emotional_violence               651
economic_violence                217
Harmful_Traditional_practice     188
Name: count, dtype: int64

In [119]:
violance_df.shape

(12000, 2)

In [120]:
hate_df['label'].value_counts()

label
1    19190
2     4163
0     1430
Name: count, dtype: int64

In [121]:
offensive_speech = hate_df[hate_df['label'] == 1].sample(n = 6407, random_state=42)
hate_df = hate_df[hate_df['label'] != 1]

In [122]:
hate_df.shape

(5593, 2)

In [123]:
hate_df = pd.concat([offensive_speech, hate_df])

In [124]:
hate_df.shape

(12000, 2)

In [125]:
hate_df.shape, violance_df.shape, emotion_df.shape

((12000, 2), (12000, 2), (12000, 2))

In [126]:
emotion_df.head(3)

                                                     text  label
133243  ive learned to surround myself with women who ...      0
88501   i already feel crappy because of this and you ...      0
131379  i feel like i have lost mourned and moved past...      0

In [127]:
violance_df.head(3)

                                                    text            label
35209  My cousin was raped by this guy Matthew. She w...  sexual_violence
38191  HAHAHAHAHAHAHHA I DIDNâ€™T SEE IT THE FIRST TIME...  sexual_violence
20925  I remember how I almost got raped like it was ...  sexual_violence

In [128]:
hate_df.head(3)

       label                                               text
22889      1  Why is it everytime I go to cracker barrel the...
20565      1  Run that nigga, you don't want that nigga, but...
10780      1  I need a girl from Jamaica I can't fuck with t...

In [129]:
#resetting the index 
emotion_df.reset_index(drop=True, inplace=True)
violance_df.reset_index(drop=True, inplace=True)
hate_df.reset_index(drop = True, inplace = True)

In [130]:
emotion_df.head(3)

                                                text  label
0  ive learned to surround myself with women who ...      0
1  i already feel crappy because of this and you ...      0
2  i feel like i have lost mourned and moved past...      0

In [131]:
violance_df.head(3)

                                                text            label
0  My cousin was raped by this guy Matthew. She w...  sexual_violence
1  HAHAHAHAHAHAHHA I DIDNâ€™T SEE IT THE FIRST TIME...  sexual_violence
2  I remember how I almost got raped like it was ...  sexual_violence

In [132]:
hate_df.head(3)

   label                                               text
0      1  Why is it everytime I go to cracker barrel the...
1      1  Run that nigga, you don't want that nigga, but...
2      1  I need a girl from Jamaica I can't fuck with t...

Label Encoding

In [134]:
label_encoder = LabelEncoder()
violance_df['label'] = label_encoder.fit_transform(violance_df['label'])

In [135]:
violance_df.head(5)

                                                text  label
0  My cousin was raped by this guy Matthew. She w...      4
1  HAHAHAHAHAHAHHA I DIDNâ€™T SEE IT THE FIRST TIME...      4
2  I remember how I almost got raped like it was ...      4
3                                      He raped me ðŸ‘ˆ      4
4  A woman raped by A male: psychological horror,...      4

In [136]:
violance_df['label'].unique()

array([4, 1, 3, 0, 2])